.row {
    text-align: center;
    margin-top: 30px;
}

.btn_primary_large {
    background-color: #3395d0;
    border: none;
    color: #fff;
    padding: 5px 30px;
}

.bottom-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}