<div id="app_container">
    <header>
        <div class="nav_base"></div>
    </header>
    <main class="app_content">
        <div class="header_logo">
            <img src="assets/img/logoCleanAJH.svg">
        </div>
        <div class="header_content">
            <h1 class="login-header">Forgot password?</h1>
            <p class="header_content_subheading body-text">Reset password in two quick steps</p>
        </div>
        <form class="login_form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <mat-form-field appearance="outline" class="full-width body-text">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" name="email" [(ngModel)]="form.email">
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <div class="btn-container">
                <button class="btn_primary_large button-text" type="submit" aria-label="Sign in">Reset
                    password</button>
            </div>

            <div class="footer-app-content-actions">
                <div class="forgot_password_link">
                    <a class="body-text" (click)="Back()">Back</a>
                </div>
            </div>
        </form>
        <!-- <button (click)="SendTest()">GoTest</button> -->
    </main>
</div>