.btn {
    background-color: #3395d0;
    color: #ffff;
    padding: 6px 40px;
    border-radius: 0;
    outline: 0;
}

.btn:focus {
    outline: 0;
}

.message {
    text-align: center;
    margin-bottom: 25px;
}

.button {
    text-align: center;
}