<mat-toolbar>
    <div class="top-nav">
        <!-- logo -->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="../../../../../../assets/img/logoCleanAJH.svg">
            </a>
        </div>

        <div class="nav-links">
            <div class="inside">
                <div [routerLink]="['/user-agreement']" [routerLinkActive]="['is-active']">
                    <div aria-label="Example icon-button with share icon" class="icon">
                        <mat-icon>gavel</mat-icon>
                    </div>
                    <div class="icon-text">User Agreement</div>
                </div>

                <div [routerLink]="['/privacy-policy']" [routerLinkActive]="['is-active']">
                    <div aria-label="Example icon-button with heart icon" class="icon">
                        <mat-icon>lock</mat-icon>
                    </div>
                    <div class="icon-text">Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>


<div class="content-holder">
    <div class="content">
       <h1 class="main-header">User Agreement</h1>

        <div class="body-text">
           <p>Our aim is to connect to a pool of talented, self-driven individuals to allow them to be more productive and successful. Our services are designed to provide job opportunities to the talented individuals and see them grow.</p>
        </div>
        
        <h2 class="header">1. Introduction</h2>
        <h3 class="sub-header">1.1. Contract</h3>
        
        <div class="body-text">
            <p>When using our Services, you agree to these terms. Your use of our Services is also subject to our Privacy Policy, which covers how we collect and use your data.</p>

            <p>By registering, or use of our services, you enter into a legal contract with Youpro Contact.</p>
        </div>


        <h3 class="sub-header">1.2. Services</h3>
        
        <div class="body-text">
            <p>This Contract applies to youprocareers.co.uk. If you register you become a member and unregistered users are visitors.</p>
        </div>


        <h2 class="header">2. Obligations</h2>
        <h3 class="sub-header">2.1. Eligibility</h3>
        
        <div class="body-text">
            <p>Minimum age is 18.</p>

            <p>By using our Services, you agree that you are of minimum age or older, you only have one account, and you are not restricted by Youprocareers from using the Services. You are not allowed to create an account with false data.</p>
        </div>


        <h3 class="sub-header">2.2. Your Account</h3>
        
        <div class="body-text">
            <p>You agree to use a strong password and keep it confidential. You are responsible for anything that happens through your account. You become a member when you create an account.</p>
        </div>

        <h3 class="sub-header">2.3. Notices and Messages</h3>
        
        <div class="body-text">
            <p>You agree to use a strong password and keep it confidential. You are responsible for anything that happens through your account. You become a member when you create an account.</p>
        </div>


         <h2 class="header">3. Rights and Limits</h2>
        <h3 class="sub-header">3.1. Automated Processing</h3>
        
        <div class="body-text">
            <p>We use the information and data that you provide and that we have about Members to make recommendations, content and features that may be useful to you. For example, we use data and information about you to recommend jobs to you. Keeping your profile accurate and up to date helps us to make these recommendations more accurate and relevant.</p>
        </div>


         <h2 class="header">4. Dos and Don'ts</h2>
         <h3 class="sub-header">4.1. Dos</h3>

         <div class="body-text">
             <p>You agree that you will:</p>

                <ul>
                    <li>Provide accurate information to us.</li>
                    <li>Use your real name on your profile.</li>
                    <li>Use the services professionally.</li>
                </ul> 
         </div>

         <h3 class="sub-header">4. Don'ts</h3>

         <div class="body-text">
             <p>You agree that you will not:</p>

             <ul>
                    <li>Create a false identity, create an account for anyone other than yourself, or use another's account.</li>
                    <li>Use software, devices, scripts, or any other means to copy profiles and other data from the Services.</li>
                    <li>Override any security feature or any access controls.</li>
                    <li>Distribute any information obtained from the Services, whether directly or through third parties without the consent of Youprocareers.</li>
                    <li>Post anything that contains software viruses, or any other harmful code.</li>
                    <li>Reverse engineer or attempt to derive the source code for the Services.</li>
                    <li>Use automated methods to access the Services.</li>
                    <li>Monitor the Services' availability, performance or functionality for any competitive purpose.</li>
                    <li>Interfere with the operation or place an unreasonable load on, the Services e.g. spam, denial of service attack, viruses and gaming algorithms.</li>
                </ul> 
         </div>
    </div>
</div>
