th,
td {
    width: 23%;
}

.empty_candidates_msg {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    padding: 16px 0 6px 5px;
    background-image: linear-gradient(to right, #3395d0, #a8d1eb);
}

//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #EAECEE!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, .6)!important;
}

.complete-status {
    background-color: #1D8348;
    color: #ffffff;
    padding: 6px 20px;
}

.mat-checkbox .mat-checkbox-frame {
    transform: scale(1.5);
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(1.5);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #3395d0!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #3395d0;
}

.body-holder .mat-spinner-holder {
    height: 60vh;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: #3395d0!important;
}

td.mat-cell {
    border-bottom-style: none;
}

th.mat-header-cell {
    border-bottom-style: none;
}