.container {
    margin-top: 50px;
    max-width: 70%;
}

.create-password {
    box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 5px 0px 25px 0px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
    line-height: 40px;
    font-family: 'Raleway-Medium';
    color: #2ECC71;
}

h3 {
    font-size: 20px;
    line-height: 40px;
    font-family: 'Raleway-Medium';
    color: #000;
}

//   Raleway Font End
//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #EAECEE!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3395d0!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red!important;
    opacity: 0.8!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, .6)!important;
    // color: $mainColor!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #3395d0!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #3395d0;
}

.full-width {
    width: 100%;
}

.agreement {
    color: #3395d0;
}

.body-text {
    font-family: 'Raleway-Regular';
    font-size: 15px;
}

.button-text {
    font-family: 'Raleway-Regular';
    font-size: 15px;
}

.btn-container button {
    margin: 15px 0px 15px 0px;
    padding: 20px;
    flex: 1;
    width: 100%;
    border-radius: 2px;
    background-color: #3395d0;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-container button>span {
    display: flex;
    justify-content: center;
    width: 100%;
}

button:disabled {
    background-color: #EAECEE !important;
}

.login-subheader {
    font-family: 'Raleway-Medium';
    font-size: 15px;
    color: #000000;
}

.body-text {
    font-family: 'Raleway-Regular';
    font-size: 15px;
}

.color {
    color: #3395d0;
}