<html ng-app="app">

<head>
    <meta name="google-site-verification" content="TtyOoSuUYGlmHzDV5a8lIrhkf8N3yELaJkQmyANm9B4" />

    <meta name="We provide managed remote team members | Outsource with YouPro Contact" content="YouPro Contact provides seasoned specialists with professional-level qualifications and
                training in; Software Engineering/Programming, Cyber Security, Digital Marketing, Graphic
                Design, IT Support, Helpdesk, Admin, Accounting/Bookkeeping, Sales/Marketing,
                Inbound/Outbound Calls, Lead Generation">
</head>

<body>

    <section>
        <header class="main-header">
            <nav>
                <div class="navbar">
                    <div class="logo">
                        <a><img src="../../../../assets/landing-pages/candidate/logo.svg" alt="youpro contact logo" /></a>
                    </div>

                    <div class="buttons">
                        <a href="clients#talentpool" class="client-btn">Hire Talent</a>
                    </div>
                </div>
            </nav>
        </header>
    </section>

    <!-- Banner Starts Here -->
    <section>
        <div class="Modern-Slider-Baggage">
            <!-- Item -->
            <div class="item item-1">
                <div class="img-fill">
                    <div class="text-content">
                        <div class="left">
                            <div class="text-holder">
                                <div class="text-header">
                                    <h2>Are you struggling to find the right skillset at the right price?</h2>
                                </div>

                                <div class="text-text">
                                    We are here to help. Our managed remote team members provide cost-effective usering solutions that give you access to experienced experts with professional level qualifications and training. connects you with experienced remote talent from around the
                                    world, so you can focus on building your product and scaling your business.
                                </div>

                                <div class="text-button">
                                    <input class="email-input body-text" placeholder="Your Email Address" [(ngModel)]="client.email" name="email">
                                    <button (click)="HireTalent()" class="client-btn">Hire Talent</button>
                                </div>
                            </div>
                        </div>

                        <div class="right">
                        </div>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </section>

    <!-- Banner Ends Here -->

    <section id="managed-outsourcing">
        <div class="left-section-header">
            <div class="header-holder">
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-left.svg">
                </div>
                <div class="title-header">
                    MANAGED OUTSOURCING
                </div>
            </div>
        </div>

        <div class="outsourcing-text-holder">
            <div class="outsourcing-text">
                <p>What makes us different from the rest?</p>

                <div class="outsourcing-points">
                    <div class="point">
                        <span><img src="./../../../../assets/landing-pages/client/check-circle.svg"></span> &nbsp; &nbsp;
                        <p>We prescreen, vet, and upskill our team.</p>
                    </div>

                    <div class="point">
                        <span><img src="./../../../../assets/landing-pages/client/check-circle.svg"></span> &nbsp; &nbsp;
                        <p>We are masters in problem solving.</p>
                    </div>

                    <div class="point">
                        <span><img src="./../../../../assets/landing-pages/client/check-circle.svg"></span> &nbsp; &nbsp;
                        <p>We have skilled experts who are passionate about what they do and hard working.</p>
                    </div>

                    <div class="point">
                        <span><img src="./../../../../assets/landing-pages/client/check-circle.svg"></span> &nbsp; &nbsp;
                        <p>Our team members fit seamlessly within global culture; they adapt quickly to any environment in which they are placed.</p>
                    </div>

                    <div class="point">
                        <span><img src="./../../../../assets/landing-pages/client/check-circle.svg"></span> &nbsp; &nbsp;
                        <p>We focus on product ownership - a skill that help us take full responsibility and accountability from the start to finish when we undertake a project.</p>
                    </div>

                    <div class="point">
                        <span><img src="./../../../../assets/landing-pages/client/check-circle.svg"></span> &nbsp; &nbsp;
                        <p>We have short-term contracts meaning you can cancel the service with just one month notice and come back on board when you need our service again.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="why-youpro">
        <div class="right-section-header">
            <div class="header-holder">
                <div class="title-header">
                    WHY YOUPRO CONTACT?
                </div>
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-right.svg">
                </div>
            </div>
        </div>

        <div class="why-youpro-contact-holder">
            <img src="./../../../../assets/landing-pages/client/why-youpro-contact.svg">
        </div>
    </section>


    <section>
        <div class="left-section-header">
            <div class="header-holder">
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-left.svg">
                </div>
                <div class="title-header">
                    GETTING STARTED
                </div>
            </div>
        </div>

        <div class="getting-started-steps-holder">
            <div class="topic">
                <p>So, how do you kick start the whole managed outsourcing process to get more skillsets and increase your team's efficiency?</p>
            </div>

            <div class="steps-holder">
                <div class="steps">
                    <div class="step-holder">
                        <div class="step-img">
                            <img src="./../../../../assets/landing-pages/client/step1.svg">
                        </div>
                        <div class="title">
                            IDENTIFICATION
                        </div>
                        <div class="text">
                            <p> You tell us the skills you need. </p>
                        </div>
                    </div>

                    <div class="step-holder middle-step">
                        <div class="step-img space">
                            <img src="./../../../../assets/landing-pages/client/step2.svg">
                        </div>
                        <div class="title">
                            RECRUITMENT
                        </div>
                        <div class="text">
                            <p> We give you a list of prescreened candidates who meet your requiremets. </p>
                        </div>
                    </div>

                    <div class="step-holder">
                        <div class="step-img">
                            <img src="./../../../../assets/landing-pages/client/step3.svg">
                        </div>
                        <div class="title">
                            INTERVIEWS
                        </div>
                        <div class="text">
                            <p> You conduct video interviews with the vetted candidates. </p>
                        </div>
                    </div>

                    <div class="step-holder middle-step">
                        <div class="step-img space">
                            <img src="./../../../../assets/landing-pages/client/step4.svg">
                        </div>
                        <div class="title">
                            SELECTION
                        </div>
                        <div class="text">
                            <p> You select your managed remote team member. </p>
                        </div>
                    </div>

                    <div class="step-holder">
                        <div class="step-img">
                            <img src="./../../../../assets/landing-pages/client/step5.svg">
                        </div>
                        <div class="title">
                            PAYMENT
                        </div>
                        <div class="text">
                            <p> Only now that you have selected your managed remote expert, is your monthly subscription payable. </p>
                        </div>
                    </div>

                    <div class="step-holder middle-step">
                        <div class="step-img space">
                            <img src="./../../../../assets/landing-pages/client/step6.svg">
                        </div>
                        <div class="title">
                            GET STARTED!
                        </div>
                        <div class="text">
                            <p> Let the collaboration begin! Your selected remote team member starts working. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="steps-combined-holder">
            <div class="steps-combined">
                <img src="./../../../../assets/landing-pages/client/steps-combined.svg">

                <div class="titles-holder">
                    <div class="titles">
                        <div class="title">
                            IDENTIFICATION
                        </div>
                        <div class="text">
                            <p> You tell us the skills you need. </p>
                        </div>
                    </div>

                    <div class="titles">
                        <div class="title">
                            RECRUITMENT
                        </div>
                        <div class="text">
                            <p> We give you a list of prescreened candidates who meet your requiremets. </p>
                        </div>
                    </div>

                    <div class="titles">
                        <div class="title">
                            INTERVIEWS
                        </div>
                        <div class="text">
                            <p> You conduct video interviews with the vetted candidates. </p>
                        </div>
                    </div>

                    <div class="titles">
                        <div class="title">
                            SELECTION
                        </div>
                        <div class="text">
                            <p> You select your managed remote team member. </p>
                        </div>
                    </div>

                    <div class="titles">
                        <div class="title">
                            PAYMENT
                        </div>
                        <div class="text">
                            <p> Only now that you have selected your managed remote expert, is your monthly subscription payable. </p>
                        </div>
                    </div>

                    <div class="titles">
                        <div class="title">
                            GET STARTED!
                        </div>
                        <div class="text">
                            <p> Let the collaboration begin! Your selected remote team member starts working. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="collaboration">
        <div class="right-section-header">
            <div class="header-holder">
                <div class="title-header">
                    COLLABORATION
                </div>
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-right.svg">
                </div>
            </div>
        </div>

        <div class="collaboration-holder">
            <div class="text-holder">
                <div class="topic">
                    <p>
                        Effective collaboration is an important factor when working with virtual teams. It ensures effective communication and promotes healthy working relationship.
                    </p>
                </div>
            </div>

            <div class="collaboration-img-holder">
                <div class="collaboration-img">
                    <img src="./../../../../assets/landing-pages/client/collaboration.svg">
                </div>

                <div class="collaboration-img-mobile">
                    <img src="./../../../../assets/landing-pages/client/collaboration-mobile.svg">
                </div>
            </div>
        </div>
    </section>


    <section id="skillsets">
        <div class="left-section-header">
            <div class="header-holder">
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-left.svg">
                </div>

                <div class="title-header">
                    SKILLSETS
                </div>
            </div>
        </div>

        <div class="skillset-holder">
            <div class="text-holder">
                <div class="topic">
                    <p> In our talent pool we have the following skillsets: </p>
                </div>
            </div>

            <div class="skillset-img-holder">
                <div class="skillsets">
                    <div class="skillset-img">
                        <img src="./../../../../assets/landing-pages/client/combined-skillsets.svg">
                    </div>

                    <div class="titles-holder">
                        <div class="title">
                            Digital Dynamites & Marketing Mavens
                        </div>

                        <div class="title">
                            Sales Virtuosos & Bookkeeping Boffins
                        </div>

                        <div class="title">
                            Support Samurais & Contact Centre Crackerjacks
                        </div>

                        <div class="title">
                            Design Dab Hands & Coding Connoisseurs
                        </div>
                    </div>
                </div>
            </div>

            <!-- for mobile -->
            <div class="skill-holder">
                <div class="skills">
                    <div class="skill-pack">
                        <div class="skill-img">
                            <img src="./../../../../assets/landing-pages/client/digital-dynamites.svg">
                        </div>
                        <div class="skill-title">
                            Digital Dynamites & Marketing Mavens
                        </div>
                    </div>

                    <div class="skill-pack">
                        <div class="skill-img">
                            <img src="./../../../../assets/landing-pages/client/sales.svg">
                        </div>
                        <div class="skill-title">
                            Sales Virtuosos & Bookkeeping Boffins
                        </div>
                    </div>

                    <div class="skill-pack">
                        <div class="skill-img">
                            <img src="./../../../../assets/landing-pages/client/support.svg">
                        </div>
                        <div class="skill-title">
                            Support Samurais & Contact Centre Crackerjacks
                        </div>
                    </div>

                    <div class="skill-pack">
                        <div class="skill-img">
                            <img src="./../../../../assets/landing-pages/client/design.svg">
                        </div>
                        <div class="skill-title">
                            Design Dab Hands & Coding Connoisseurs
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="industries">
        <div class="right-section-header">
            <div class="header-holder">
                <div class="title-header">
                    INDUSTRIES
                </div>
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-right.svg">
                </div>
            </div>
        </div>

        <div class="industries-holder">
            <div class="text-holder">
                <div class="topic">
                    <p>
                        Our managed remote experts have extensive experience working in these sectors:
                    </p>
                </div>
            </div>

            <div class="industries-img-holder">
                <div class="industries-img">
                    <img src="./../../../../assets/landing-pages/client/industries.svg">
                </div>
            </div>
        </div>
    </section>


    <section id="talentpool">
        <div class="left-section-header">
            <div class="header-holder">
                <div class="img-bar">
                    <img src="./../../../../assets/landing-pages/client/img-bar-left.svg">
                </div>

                <div class="title-header">
                    TALENT POOL
                </div>
            </div>

            <div class="talentpool-holder">
                <div class="text-holder">
                    <div class="topic">
                        <p>
                            Our managed remote experts have extensive experience working in these sectors: <br />
                            <span class="select-msg">Tap the buttons below to select the talent(s) you need. </span>
                        </p>
                    </div>
                </div>

                <div class="talents-holder">
                    <div class="talents">
                        <div class="talent-row">
                            <button class="talent-btn" [ngClass]="{'talent-selected': software_engineering_color}" (click)="RevertSoftwareEngineering()">Software Engineering/Programming</button>
                            <button class="talent-btn" [ngClass]="{'talent-selected': cyber_security_color}" (click)="RevertCyberSecurity()">Cyber Security</button>
                        </div>


                        <div class="talent-row">
                            <button class="talent-btn" [ngClass]="{'talent-selected': digital_marketing_color}" (click)="RevertDigitalMarketing()">Digital Marketing</button>
                            <button class="talent-btn" [ngClass]="{'talent-selected': social_media_color}" (click)="RevertSocialMediaManagement()">Social Media Management</button>
                        </div>


                        <div class="talent-row">
                            <button class="talent-btn" [ngClass]="{'talent-selected': graphic_design_color}" (click)="RevertGraphicDesign()">Graphic Design/Illustration</button>
                            <button class="talent-btn" [ngClass]="{'talent-selected': it_support_color}" (click)="RevertITSupport()">IT Support/Helpdesk</button>
                        </div>


                        <div class="talent-row">
                            <button class="talent-btn" [ngClass]="{'talent-selected': uiux_design_color}" (click)="RevertUIUXDesign()">UI/UX Design</button>
                            <button class="talent-btn" [ngClass]="{'talent-selected': admin_color}" (click)="RevertAdmin()">Admin</button>
                        </div>


                        <div class="talent-row">
                            <button class="talent-btn" [ngClass]="{'talent-selected': accounting_color}" (click)="RevertAccounting()">Accounting/Bookkeeping</button>
                            <button class="talent-btn" [ngClass]="{'talent-selected': sales_color}" (click)="RevertSales()">Sales/Marketing</button>
                        </div>


                        <div class="talent-row">
                            <button class="talent-btn" [ngClass]="{'talent-selected': inbound_outbound_color}" (click)="RevertInboundOutboundCalls()">Inbound/Outbound Calls</button>
                            <button class="talent-btn" [ngClass]="{'talent-selected': lead_generation_color}" (click)="RevertLeadGeneration()">Lead Generation</button>
                        </div>

                    </div>
                </div>

                <form class="" #f="ngForm">
                    <div class="inputs-holder">
                        <div class="inputs">
                            <div class="inputs-row">
                                <div class="row">
                                    <div class="col-md-4">
                                        <mat-label>Your full name</mat-label>
                                        <mat-form-field class="full-width body-text" appearance="outline">
                                            <input matInput placeholder="Enter name" [(ngModel)]="client.name" name="name" #name="ngModel" required>
                                            <mat-error *ngIf="!name.valid || (!name.pristine)">{{getNamelMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-label>Your work email</mat-label>
                                        <mat-form-field class="full-width body-text" appearance="outline">
                                            <input matInput placeholder="Enter email" [(ngModel)]="client.email" name="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" required>
                                            <mat-error *ngIf="!email.valid || (!email.pristine)">{{getEmailErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <mat-label>Your phone number</mat-label>
                                        <mat-form-field class="full-width body-text" appearance="outline">
                                            <input matInput placeholder="Enter phone number" name="phone" [(ngModel)]="client.phone" name="phone" #phone="ngModel" required>
                                            <mat-error *ngIf="!phone.valid || (!phone.pristine)">{{getPhoneErrorMessage()}}</mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="btn-row">
                                    <button class="continue-btn" (click)="ContinueToHire()" [disabled]="!f.valid">CONTINUE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>


    <!-- Footer Starts Here -->
    <footer>
        <div class="container-footer">
            <div class="row">
                <div class="col-md-4 footer-item">
                    <h4>Quick Links</h4>

                    <ul class="menu-list">
                        <li><a href="clients#talentpool">Hire Talent</a></li>
                        <li><a href="clients#managed-outsourcing">Managed Outsourcing</a></li>
                        <li><a href="clients#skillsets">Skillsets</a></li>
                        <li><a href="clients#why-youpro">Why Youpro Contact?</a></li>
                        <li><a href="clients#collaboration">Collaborartion</a></li>
                        <li><a href="clients#industries">Industries</a></li>
                    </ul>
                </div>
                <!-- <div class="col-md-3 footer-item">
                    <h4>Company</h4>

                    <ul class="menu-list">
                        <li><a>About Us</a></li>
                        <li><a>Blog</a></li>
                        <li><a>Resources</a></li>
                        <li><a>Privacy</a></li>
                        <li><a>Terms of Service</a></li>
                        <li><a>Cookies</a></li>
                    </ul>
                </div> -->
                <div class="col-md-4 footer-item">
                    <h4>Contact Us</h4>

                    <ul class="menu-list">
                        <li><img src="../../../../assets/landing-pages/candidate/phone.svg" alt="express cargo phonenumber" /> &nbsp; &nbsp; +263 784 644 277 <br /> <span class="add-ext">0203 924 3444</span> <br />

                            <li><img src="../../../../assets/landing-pages/candidate/email.svg" alt="express cargo email" /> &nbsp; &nbsp;info@youprocontact.co.uk
                            </li>
                            <li><img src="../../../../assets/landing-pages/candidate/location.svg" alt="express cargo address" /> &nbsp; &nbsp; 71-75 Sheldon Street <br />
                                <span class="add-ext">London UK</span> <br /><br /><br />
                                <span class="add-ext"> 15th Floor, Joina City</span> <br />
                                <span class="add-ext">Harare Zimbabwe </span> <br />
                            </li>
                    </ul>
                </div>
                <div class="col-md-4 footer-item last-item">
                    <h4>Follow Us</h4>

                    <ul class="social-icons">
                        <li>
                            <a rel="nofollow" href="https://www.facebook.com/youprocontact" target="_blank"><img src="../../../../assets/landing-pages/candidate/facebook.svg" alt="facebook" /></a>
                        </li>

                        <li>
                            <a href="https://www.instagram.com/youprocontact/" target="_blank"><img src="../../../../assets/landing-pages/candidate/instagram.svg" alt="instagram" /></a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/company/youpro-contact/mycompany/" target="_blank"><img src="../../../../assets/landing-pages/candidate/linkedin.svg" alt="linkinin" /></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright">
            Copyright &copy; 2021 All rights reserved | Designed & developed by YouPro Contact
        </div>
    </footer>
    <!-- Footer Ends Here -->
</body>

</html>