<mat-toolbar>
    <div class="top-nav">
        <!-- logo -->
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="../../../../../../assets/img/logoCleanAJH.svg">
            </a>
        </div>

        <div class="nav-links">
            <div class="inside">
                <div [routerLink]="['/user-agreement']" [routerLinkActive]="['is-active']">
                    <div aria-label="Example icon-button with share icon" class="icon">
                        <mat-icon>gavel</mat-icon>
                    </div>
                    <div class="icon-text">User Agreement</div>
                </div>

                <div [routerLink]="['/privacy-policy']" [routerLinkActive]="['is-active']">
                    <div aria-label="Example icon-button with heart icon" class="icon">
                        <mat-icon>lock</mat-icon>
                    </div>
                    <div class="icon-text">Privacy Policy</div>
                </div>
            </div>
        </div>
    </div>
</mat-toolbar>


<div class="content-holder">
    <div class="content">
       <h1 class="main-header">Privacy Policy</h1>

        <div class="body-text">
           <p>Our aim is to connect to a pool of talented, self-driven individuals to allow them to be productive and successful. Our services are designed to provide job opportunities to these individuals.</p>
           <P>This Privacy Policy applies when you use our Services.</P>
        </div>
        
        <h2 class="header">1. Data We Collect</h2>
        <h3 class="sub-header">1.1. Data You Provide to Us</h3>
        
        <div class="body-text">
            <p>To register or create an account, you need to provide data including your name and email address.</p>
        </div>


        <h3 class="sub-header">1.2. Profile</h3>
        
        <div class="body-text">
            <p>Once you have registered an account with us, we collect information from your profile, e.g. work experience, skills, voice note, cv, or any details to help us facilitate the recruitment process.</p>
        </div>

        <h3 class="sub-header">1.3. Other</h3>
        
        <div class="body-text">
            <p>We change features to our services, which may require collecting of new data. If we change how we collect, or use your data, we will notify and may also modify this Privacy Policy.</p>
        </div>


        <h2 class="header">2. How We Use Your Data</h2>
        <h3 class="sub-header">2.1. Careers</h3>
        
        <div class="body-text">
            <p>Our Services allow you to explore different career opportunities. Your profile will be evaluated by our recruiters and your data is used to recommend jobs to you.</p>
        </div>


        <h3 class="sub-header">2.2. Communications</h3>
        
        <div class="body-text">
            <p>We will get in touch through emails, text and push notifications. We will send you messages about any service related issues.</p>
        </div>

        <h3 class="sub-header">2.3. Developing Services</h3>
        
        <div class="body-text">
            <p>We use your data to conduct research and development for our services in order to provide a  personalized experience, drive membership growth.</p>
        </div>

        <h3 class="sub-header">2.4. Customer Support</h3>
        
        <div class="body-text">
            <p>We use data to investigate, respond to and resolve complaints and for Service issues (e.g., bugs).</p>
        </div>

        <h3 class="sub-header">2.5. Security and Investigations</h3>
        
        <div class="body-text">
            <p>We use your data to prevent fraud or other violations of our User Agreement and attempts to harm our Members, Visitors.</p>
        </div>

        <h3 class="sub-header">2.6. Security</h3>
        
        <div class="body-text">
            <p>We put in place measures to protect data, e.g. HTTPS and monitor our services for vulnerabilities. We cannot guarantee that data may not be accessed by breach of any of our security.</p>
        </div>
    </div>
</div>
