//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #EAECEE!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #3395d0!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick {
    color: red!important;
    opacity: 0.8!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: rgba(0, 0, 0, .6)!important;
    // color: $mainColor!important;
}

.top {
    display: flex;
    justify-content: space-between;
    justify-items: center;
}

.top .container-header {
    font-size: 16px;
    font-weight: 400;
    color: #3395d0;
    margin-top: 3px;
}

.section-devider {
    height: 1px;
    background-color: #3395d0;
    margin-bottom: 25px;
    margin-top: 25px;
}

.full-width {
    width: 100%;
}

mat-dialog-actions button {
    border-radius: 0;
}

.header {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.close-btn mat-icon {
    color: #3395d0;
    cursor: pointer;
}

.btn_primary_large {
    background-color: #3395d0;
    border: none;
    color: #fff;
    padding: 5px 20px;
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}