.row {
    width: 100%;
}

.full-width {
    width: 100%;
}

.top-section-devider {
    height: 1px;
    background-color: #3395d0;
    margin-bottom: 25px;
    margin-top: 25px;
}

button {
    background-color: #3395d0;
    color: #ffffff;
    padding: 4px 25px;
    font-family: 'Raleway-Regular';
    font-size: 16px;
    border-radius: 0;
}

.button-holder {
    display: flex;
    justify-content: flex-end;
}